/* style title like an interactive element and fix padding */
.filter-panel__labels-item .filter-panel__labels-title {
  cursor: pointer;
  justify-content: start;
  padding-bottom: .16rem;
}
/* compat fix for toggle-all (irrelevant when css-tweaks is also applied) */
.filter-panel__labels-item .filter-panel__labels-title:has(.toggle) {
  padding-bottom: .12rem;
}
.filter-panel__labels-item .filter-panel__labels-title .filter-ext-attr {
  margin-left: auto;
}
.filter-panel__labels-title:hover .filter-panel__labels-title__text {
  text-decoration: underline;
}
/* style ::before pseudo-element to show what action clicking will trigger */
.filter-panel__labels-item .filter-panel__labels-title::before {
  content: '−';
  float: left;
  margin-right: .1rem;
  font-size: 150%;
  line-height: .2rem;
  color: #d3bc8e;
}
.filter-panel__labels-item[data-collapsed] .filter-panel__labels-title::before {
  content: '+';
}

/* show bottom border on collapsed ascension cards */
.filter-panel__labels-item--card[data-collapsed] {
  border-bottom: .01rem solid rgba(74,83,102,.5) !important;
}