/* style title like an interactive element */
.filter-panel__labels-item .filter-panel__labels-title {
  cursor: pointer;
}
.filter-panel__labels-item .filter-panel__labels-title:hover,
.filter-panel__labels-item .filter-panel__labels-title:focus {
  text-decoration: underline;
}

/* style ::before pseudo-element to show what action clicking will trigger */
.filter-panel__labels-item .filter-panel__labels-title::before {
  content: '−';
  float: left;
  margin-right: .1rem;
  font-size: 150%;
  line-height: .14rem;
}
.filter-panel__labels-item[data-collapsed] .filter-panel__labels-title::before {
  content: '+';
}