/* use flex gaps to handle some rows with fewer items */
.filter-panel__labels-content {
  gap: .15rem .1rem;
  margin-bottom: .15rem;
}
.filter-panel__labels-filter-item,
.filter-panel__labels-content--empty {
  margin: 0 !important;
}
/* ascension-specific tweaks */
.filter-panel__labels-item--card .filter-panel__labels-ascension {
  padding: .1rem;
}
.filter-panel__labels-ascension .filter-panel__labels-content {
  margin-bottom: unset;
}

/* add some text to empty sections */
/* this uses [data-collapsed] to be compatible with collapse-resources */
.filter-panel__labels-content:empty::before,
[id="-3"]:not(.filter-panel__labels-item--card):not([data-collapsed])::after,
[id="-4"]:not(.filter-panel__labels-item--card):not([data-collapsed])::after {
  content: 'Nothing to see here.';
  font-style: italic;
  color: hsla(39, 34%, 89%, .5);
  margin: 0 auto;
}
/* ascension-card specific styling */
[id="-3"]:not(.filter-panel__labels-item--card):not([data-collapsed])::after,
[id="-4"]:not(.filter-panel__labels-item--card):not([data-collapsed])::after {
  display: block;
  width: fit-content;
  margin: 0 auto .15rem;
}