/* recreate styles of action buttons in pin sections */
.filter-panel__labels-title-action {
  position: absolute;
  top: .1rem;
  right: 0;
  height: .24rem;
  width: .24rem;
  cursor: pointer;
}

/* offset existing action pins left */
.filter-panel__labels-title-action:not(.toggle),
.filter-panel__labels-title-action--text {
  margin-right: .34rem;
}
.filter-ext-attr {
  margin-right: .3rem;
}
.filter-panel__labels-title-action--text > span {
  margin-right: 0 !important;
}

/* fix title padding being incompatible with css-tweaks */
.filter-panel__labels-title.filter-panel__labels-title--official {
  padding-top: .12rem;
}