/* replace section title margins with padding */
.filter-panel .filter-panel__labels {
  padding-top: 0;
  padding-bottom: 0;
}
.filter-panel .filter-panel__labels-title {
  padding: .14rem 0;
  margin: 0 .02rem;
}
.filter-panel__labels-title .filter-panel__labels-title-action {
  top: .1rem;
}
.filter-panel__labels-item:last-child {
  border-bottom: none;
}

/* hide chasm glowing purple thing */
img.leaflet-marker-icon.leaflet-zoom-hide.leaflet-interactive {
  display: none;
}

/* hide qr code & move zoom control */
.mhy-game-gis .bbs-qr {
  display: none;
}
.mhy-map .leaflet-control-zoomslider {
  margin: 0;
  transform: translate(0);
  bottom: .2rem;
  right: .2rem;
}