/* replace section title margins with padding */
.filter-panel .filter-panel__labels-title {
  padding: .14rem 0;
  margin: 0 .02rem;
}
.filter-panel__labels-title .filter-panel__labels-title-action {
  top: .1rem;
}

/* hide chasm glowing purple thing */
img.leaflet-marker-icon.leaflet-zoom-hide.leaflet-interactive {
  display: none;
}

/* hide qr code & move zoom control */
.mhy-game-gis .bbs-qr {
  display: none;
}
.mhy-map .leaflet-control-zoomslider {
  transform: translateX(-.1rem);
}