/* vars */
:root {
  --w: 3rem;
}

/* half-width sidebar */
.map-layer-control.map-layer-control--visible-initial,
.map-layer-control.map-layer-control--visible {
  width: var(--w);
  background: rgb(255, 252, 247);
}
/* fix header title & buttons */
.map-layer-control .layer-control__header > h1 {
  display: flex;
  align-items: center;
  gap: .1rem;
  font-size: 100%;
  line-height: 125%;
}
.map-layer-control .layer-control__header > h1 > div {
  min-width: 1em;
}
.map-layer-control .layer-control__operation > div {
  font-size: 90%;
}
.map-layer-control .layer-control__btn-add-route {
  margin-left: .1rem;
}
/* fix pin menu buttons */
.map-layer-control .layer-control__panel-list > ul > li {
  padding: 0 .1rem;
}
.map-layer-control .layer-control__panel-list > ul > li:last-child {
  padding: .13rem .1rem;
}
/* switch two-column lists to single-column */
.layer-control__group .layer-control__list .layer-control__item {
  width: 100%;
}

/* reduce size of area buttons */
.map-layer-control .layer-control__tabs {
  margin-top: -1.4rem;
  margin-left: -.1rem;
}
.map-layer-control .layer-control__tabs > li {
  clip-path: circle(.24rem at .42rem .25rem);
}
/* change map centre */
.mhy-game-gis {
  background-color: #121921;
}
.mhy-game-gis .mhy-map {
  left: calc(var(--w) / 2);
}
/* hide qr code & move zoom control */
.mhy-game-gis .bbs-qr {
  display: none;
}
.leaflet-control-container .leaflet-bottom.leaflet-right {
  bottom: -1.9rem;
  right: calc(var(--w) / 2);
}